<ion-view title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <div id="makemeal_dummy">

    </div>
  </ion-content>
</ion-view>
