<ion-view title="" hide-back-button="true">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <!-- <ion-content class="has-header col-offset-10 col-80"> -->
  <ion-content class="has-header choice-set">
        <article class="large">
            <section>
                <ion-slide-box ng-controller="OrderSlideBox1Ctrl" active-slide="defaultActiveSlide">
                  <ion-slide>
                    <div class="large box">

                    <div class="list card">
                        <div class="item item-icon-left item-divider">
                            <i class="icon ion-icecream"></i>
                            <h2>Apple Piescream!</h2>
                        </div>

                        <div class="item item-text-wrap">
                            Ingredience: 1 Apple Pie +1 Ice Cream
                        </div>

                        <div class="item item-text-wrap">
                            <a href="#" class="subdued">12,576 McWays</a>
                        </div>

                        <a class="item item-icon-left assertive" ng-click="placeOrder({title:'Apple Piescream', id:'1234'})">
                            <i class="icon ion-checkmark-round"></i>
                            Order?
                        </a>

                    </div>

                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="large box" id="meal_no1"><h1></h1></div>
                  </ion-slide>
                  <ion-slide>
                    <div class="large box" id="meal_no1_flip"><h1></h1></div>
                  </ion-slide>
                </ion-slide-box>
            </section>
            <footer></footer>
        </article>
        <article class="col-xs-6 col-md-5">
            <section>
                <div class="box" id="meal_no2"><h1></h1></div>
            </section>
            <footer></footer>
        </article>
        <article class="col-xs-6 col-md-offset-2 col-md-5">
            <section>
                <div class="box" id="meal_no3"><h1></h1></div>
            </section>
            <footer></footer>
        </article>
        <article class="col-xs-6 col-md-5 moreup">
            <section>
                <ion-slide-box ng-controller="OrderSlideBox1Ctrl" active-slide="defaultActiveSlide">
                  <ion-slide>
                    <div class="box">
                        <div class="list card">

                            <div class="item item-icon-left item-divider">
                                <i class="icon ion-fork"></i>
                                <h2>B and F</h2>
                            </div>

                            <div class="item item-text-wrap">
                                1 Burger +1 Fries
                            </div>

                            <a class="item item-icon-left assertive" ng-click="placeOrder({title:'Burger and Fries', id:'1235'})">
                                <i class="icon ion-checkmark-round"></i>
                                Order?
                            </a>
                        </div>
                    </div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box" id="meal_no4"><h1></h1></div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box" id="meal_no4_flip_bon"><h1></h1></div>
                  </ion-slide>
                  <ion-slide>
                    <div class="box" id="meal_no4_flip_daeus"><h1></h1></div>
                  </ion-slide>
                </ion-slide-box>
            </section>
            <footer></footer>
        </article>
        <article class="col-xs-6 col-md-offset-2 col-md-5 moreup">
            <section>
                <div class="box" id="meal_no5"><h1></h1></div>
            </section>
            <footer></footer>
        </article>
  </ion-content>
</ion-view>
