/* Empty. Add your own CSS if you like */
/* Body Text Styles */
@import url(http://fonts.googleapis.com/css?family=Arvo|Cabin:500italic|Philosopher|Lobster|Raleway);
a:link, a:visited {
  color: #006ec3;
}

body {
  color: #333;
  font-size: 14px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}


footer {
  text-align: right;
}
footer li {
  list-style: none;
}


.choice-set article {
  padding: 0 !important;
  color: white;
  height: 180px;
  top: -20px;
  position: relative;
}

.choice-set article.moreup {
  top: -24px;
}

.choice-set article.large{
  height: 227px;
}

.choice-set article section {
  top: 0;
}

.choice-set .box {
  width: 180px;
  height: 177px;
  background-repeat: no-repeat;
}

.choice-set .box.large {
  width: 360px;
  height: 227px;
}

.choice-set article .slider-pager {
  bottom: 20px;
}

.choice-set article.large .slider-pager {
  bottom: 10px;
}

.startScreen {
  background: url("../img/start/startpagesmall.jpg");
}

#meal_no1 {
  background: url("../img/order/mcwaysmallno1.jpg");
}
#meal_no1_flip {
  background: url("../img/order/mcwayflipsmallno1.jpg");
}
#meal_no2 {
  background: url("../img/order/mcwaysmallno2.jpg");
}
#meal_no3 {
  background: url("../img/order/mcwaysmallno3.jpg");
}
#meal_no4 {
  background: url("../img/order/mcwaysmallno4.jpg");
}
#meal_no4_flip_bon {
  background: url("../img/order/mcwaysmallboncut.jpg");
}
#meal_no4_flip_daeus {
  background: url("../img/order/mcwaysmalldaeuscut.jpg");
}
#meal_no5 {
  background: url("../img/order/mcwaysmallno5.jpg");
}

/*override ionic nav-bar*/
.bar {
  height: 64px;
  background: url(../img/order/mcwaysmalltitle.jpg) 0 0 no-repeat !important;
}

/*.modal ion-content.has-header,
ion-side-menu ion-content.has-header {*/
.has-header {
  top: 61px;
}

ion-side-menu-content .bar {
  background: url(../img/order/mcwaysmalltitlewords.png) 0 0 no-repeat, url(../img/order/mcwaysmalltitle.jpg) 0 0 no-repeat !important;
}

#makemeal_dummy {
  width: 360px;
  height: 578px;
  background: url(../img/makemeal/orderbottom.jpg) 0 0 no-repeat !important;
}

