a:link, a:visited {
    color: $link-color;
}

body {
    color: $text-color;
    font-size: $base-font-size;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
}

.pages {
    // min-height: 900px;
    // background-color: #cbc;
    // border: 3px solid red;
    header {
        padding: 20px 0;
    }

    section {
        // background-color: #949;
        padding: 30px 0;
    }
}

footer {
    text-align: right;
    li {
        list-style: none;
    }
}

