/* Body Text Styles */
$text-color: #333;
$link-color: #006ec3;
$base-font-size: 14px;
$base-font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
$base-font-weight: 400;
$container-max-width: 920px;
$container-padding: 20px;
$container-margin: 0 auto;
$container-border: 2px solid #999;
$post-border: 2px dotted #bbb;

$image-max-width: 300px;