/* Body Text Styles */
@import url(http://fonts.googleapis.com/css?family=Arvo|Cabin:500italic|Philosopher|Lobster|Raleway);
/* line 1, ../scss/partials/_mixins.scss */
a:link, a:visited {
  color: #006ec3;
}

/* line 5, ../scss/partials/_mixins.scss */
body {
  color: #333;
  font-size: 14px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

/* line 16, ../scss/partials/_mixins.scss */
.pages header {
  padding: 20px 0;
}
/* line 20, ../scss/partials/_mixins.scss */
.pages section {
  padding: 30px 0;
}

/* line 26, ../scss/partials/_mixins.scss */
footer {
  text-align: right;
}
/* line 28, ../scss/partials/_mixins.scss */
footer li {
  list-style: none;
}

/* line 2, ../scss/views/_order.scss */
.choice-set section article {
  color: white;
  margin-bottom: 20px;
  background-color: #358;
}

/* Registration Styles */

/*# sourceMappingURL=index.css.map */
