<div id="orderView" class="pages">
    <header>
        <h4>Choose order from here!</h4>
    </header>
    <section>
        <article class="choice-set">
            <header>
                <h5>McDonald's Recommendations</h5>
            </header>
            <section>
                <article class="col-xs-12 col-md-5" ng-click="placeOrder()">
                    <header>Latest Promotions</header>
                    <section></section>
                    <footer></footer>
                </article>
                <article class="col-xs-12 col-md-offset-2 col-md-5">
                    <header>Classic Meals</header>
                    <section></section>
                    <footer></footer>
                </article>
            </section>
            <footer></footer>
        </article>
        <article class="choice-set">
            <header>
                <h5>Trending</h5>
            </header>
            <section>
                <article class="col-xs-12 col-md-5">
                    <header>All time Favourites</header>
                    <section></section>
                    <footer></footer>
                </article>
                <article class="col-xs-12 col-md-offset-2 col-md-5">
                    <header>Monthly Trend</header>
                    <section></section>
                    <footer></footer>
                </article>
                <article class="col-xs-12 col-md-5">
                    <header>Healthy Selections</header>
                    <section></section>
                    <footer></footer>
                </article>
                <article class="col-xs-12 col-md-offset-2 col-md-5">
                    <header>Saver Choices</header>
                    <section></section>
                    <footer></footer>
                </article>
            </section>
            <footer></footer>
        </article>
        <article class="choice-set">
            <header>
                <h5>Make your own meal!</h5>
            </header>
            <section>
                <article class="col-xs-12 col-md-5">
                    <header>Customize</header>
                    <section></section>
                    <footer></footer>
                </article>
            </section>
            <footer></footer>
        </article>
    </section>
    <footer>

    </footer>
</div>