<div id="registrationView" class="pages">
  <header>
    <h4>Register for the new experience!</h4>
  </header>

  <section>
    <form role="form" class="form-horizontal">
      <div class="form-group">
        <label for="username" class="control-label col-xs-3 col-md-1">Username:</label>
        <div class="col-xs-9 col-md-8">
          <input type="text" class="form-control" id="username" ng-model="uname">
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label col-xs-3 col-md-1">Email:</label>
        <div class="col-xs-9 col-md-8">
          <input type="email" class="form-control" id="email" ng-model="email">
        </div>
      </div>
      <div class="form-group">
        <label for="pwd" class="control-label col-xs-3 col-md-1">Password:</label>
        <div class="col-xs-9 col-md-8">
          <input type="password" class="form-control" id="pwd" ng-model="pw">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9 col-md-offset-1 col-md-8">
          <div class="checkbox">
            <label><input type="checkbox" ng-model="checked"> Remember me</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9 col-md-offset-1 col-md-8">
          <button type="submit" class="btn btn-default" ng-click="placeRegister()">Submit</button>
        </div>
      </div>
    </form>
  </section>

  <footer>

  </footer>
</div>


