<div id="startView" class="pages">
    <header>
        <h4>Chapter One: A New Exp Begins</h4>
    </header>

    <section>
        <p><a href="#registration">Register</a> and start your new experience in enjoying McDonalds!</p>
    </section>

    <footer>

    </footer>
</div>